<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div style="text-align:center">
        <h1>
          My Name Brijesh Gupta, Welcome to {{ title }}!
        </h1>
       
      </div>
      <h2>Here are some links to help you start: </h2>
      <hr>
      <app-servers></app-servers>
      <!-- or -->
      <!-- <div app-servers></div> -->
      <!-- or -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>


